.gauge {
	width: 300px;
	height: 400px;
	/* margin: 100px auto   */
}
.label {
	font-size: 24px;
	fill: #aaa;
}
.chart-filled-2 {
	position: absolute;
	z-index: 2;
	fill: steelblue;
}

.chart-filled {
	position: absolute;
	z-index: 1;
	fill: teal;
}

.chart-filled:hover {
	z-index: 3;
}

.chart-empty {
	z-index: 0;
	fill: #dedede;
}

svg {
	font: 10px "Roboto";
}